Django
djangorestframework
djangorestframework-simplejwt
django-filter
django-cors-headers
django-celery-beat
django-redis
python-decouple
Pillow
gunicorn
requests
psycopg2-binary
celery
redis
whitenoise
dj-database-url
django-apscheduler==0.6.2
python-dateutil

# Development / testing
pytest
pytest-django
faker
