Django
aiogram>=3.0,<4.0
djangorestframework
djangorestframework-simplejwt
django-filter
django-cors-headers
django-celery-beat
django-redis
python-decouple
Pillow
gunicorn
requests
psycopg2-binary
celery
redis
whitenoise
dj-database-url
python-dateutil

# Development / testing
pytest
pytest-django
faker
